.Info{
	display: flex;
	flex-direction: column;
	font-size: 12px;
	text-align: center;
	padding: var(--info-padding);
	margin: var(--info-margin);
	color: var(--font-light);
}
.Info a{
	color: var(--blue);
	margin: 0 2px;
}