.SpinnerPercentage{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.SpinnerPercentageValue{
	font-size: var(--percentage-font-size);
	font-weight: var(--percentage-font-weight);
	color: var(--font-dark);
}
.SpinnerPercentageSign{
	font-size: var(--percentage-sign-font-size);
	font-weight: var(--percentage-sign-font-weight);	
	color: var(--font-light);
}