.SpinnerCircle{
	margin: var(--spinner-circle-margin);
}
.SpinnerAnimation{
	transition: all 2s ease;
	transform-origin: center;
	transform: rotate(-90deg);
	animation: rotate 1.4s cubic-bezier(.17,.67,.83,.67) infinite;
}

.SpinnerCircle circle{
	transition: all .2s ease;
}
.SpinnerCircle.SpinnerPaused{
	animation-play-state: paused;
}

@keyframes rotate{
	100% {
		transform : rotate(275deg);
	}
}