.GreenTick{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.GreenTick span{
	position: relative;
	width: calc(var(--green-tick-width) - 30%);
	height: calc(var(--green-tick-height) - 60%);
	border-radius: 5px;
	border-right: 8px solid var(--green);
	border-bottom: 8px solid var(--green);
	transform-origin: 80% 50%;
	transform: rotate(45deg);	
}