.Box{
	background: var(--box-background);
	width: var(--box-width);
	height: var(--box-height);
	border-radius: var(--box-radius);
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: var(--box-box-shadow);
	/*overflow: hidden;*/
}