.Button{
	background: transparent;
	border-width: 2px;	
	border-style: solid;
	border-color: var(--button-border-color);
	color: var(--button-border-color);
	border-radius: var(--button-border-radius);
	padding: var(--button-padding);
	font-weight: var(--button-font-weight);
	font-size: var(--button-font-size);
	outline: none;
	cursor: pointer;
    transition:all 0.25s;
    -webkit-transition:all .25s;
    -moz-transition: all 0.25s;
}
.Button:hover{
	background: var(--blue);
	color: var(--white);
}