*{
	box-shadow: border-box;
	margin:0;
	padding: 0;
}

body {
	background: var(--body-background);
  	margin: 0;
  	font-family: arial;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

:root{
	/* Pallete */
	--white: #fff;
	--grey: #EAEBEC;
	--dark-grey: #353535;
	--blue: #3F9FFF;
	--lightblue: #E7EBED;
	--black: #303132;
	--green: #1DCE95;
	
	--font-dark: var(--black);
	--font-light: #727677;

	/* Background */
	--body-background: var(--dark-grey);
	--box-background: var(--white);

	/* Border */
	--box-footer-border-color: var(--grey);
	--button-border-color: var(--blue);
	
	/* Box Shadow */
	--box-box-shadow: 0 0 20px rgba(0,0,0,.9);

	/* Font Size */
	--button-font-size: 14px;	
	--transfer-status-font-size: 20px;
	--percentage-font-size: 40px;
	--percentage-sign-font-size: 14px;

	/* Font Weight */
	--button-font-weight: 900;
	--transfer-status-font-weight: 900;
	--percentage-font-weight: 500;
	--percentage-sign-font-weight: 900;

	/* Height */
	--app-height: 100vh;
	--box-height: 400px;
	--box-footer-height: 100px;
	--green-tick-height: 100%;

	/* Margin */
	--spinner-circle-margin: 0 0 0 0;
	--transfer-status-margin:20px 0 5px 0;
	--info-margin:0 0 0 0;

	/* Width */
	--app-width: 100vw;
	--box-width: 350px;
	--green-tick-width: 50%;
	
	/* Radius */
	--box-radius: 20px;
	--button-border-radius: 20px;

	/* Padding */
	--button-padding: 10px 20px;
	--info-padding: 0 75px;
};


