.BoxFooter{
	height: var(--box-footer-height);
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: var(--box-footer-border-color);
	display: flex;
	justify-content: center;
	align-items: center;
}